<section class="price_plan_area section_padding_130_80" id="pricing">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-6">
          <!-- Section Heading-->
          <div class="section-heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            
            <h3 class="mt-5">Nuestros <span>planes</span></h3>
            <p>Descubre nuestros increíbles planes para disfrutar al máximo de nuestros servicios.</p>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <!-- Single Price Plan Area-->
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
          <div class="single_price_plan wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="title">
              <h3>Basica</h3>
              <p>version gratuita</p>
              <div class="line"></div>
            </div>
            <div class="price">
              <h4>$0</h4>
            </div>
            <div class="description">
              <p><i class="lni lni-checkmark-circle"></i>Un simulacro diario</p>
              <p><i class="lni lni-checkmark-circle"></i>practica de todas las preguntas disponibles</p>
              <p><i class="lni lni-close"></i>nose que mas/p>
              <p><i class="lni lni-close"></i>pensando</p>
              <p><i class="lni lni-close"></i>nose que mas </p>
            </div>
            <div class="button"><a class="btn btn-success btn-2" href="#">Empezar</a></div>
          </div>
        </div>
        <!-- Single Price Plan Area-->
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
          <div class="single_price_plan active wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <!-- Side Shape-->
            <div class="side-shape"><img src="https://bootdey.com/img/popular-pricing.png" alt=""></div>
            <div class="title"><span>Popular</span>
              <h3>Pro</h3>
              <p>Mas beneficios</p>
              <div class="line"></div>
            </div>
            <div class="price">
              <h4>$29.99</h4>
            </div>
            <div class="description">
              <p><i class="lni lni-checkmark-circle"></i>Duracion: 1 mes</p>
              <p><i class="lni lni-checkmark-circle"></i>coassas buenas</p>
              <p><i class="lni lni-checkmark-circle"></i>Todo lo que quieras</p>
              <p><i class="lni lni-checkmark-circle"></i>todo ilimitado</p>
              <p><i class="lni lni-close"></i>nose que mas</p>
            </div>
            <div class="button"><a class="btn btn-warning" href="#">Empezar</a></div>
          </div>
        </div>
        <!-- Single Price Plan Area-->
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
          <div class="single_price_plan wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="title">
              <h3>ProUltra mega archi super dios</h3>
              <p>Posibilidades ilimitadas</p>
              <div class="line"></div>
            </div>
            <div class="price">
              <h4>$149.99</h4>
            </div>
            <div class="description">
              <p><i class="lni lni-checkmark-circle"></i>Duracion: 6 meses</p>
              <p><i class="lni lni-checkmark-circle"></i>LO mismo que lo anterior pero mas bonito</p>
              <p><i class="lni lni-checkmark-circle"></i>Un caramelo de limon gratis</p>

            </div>
            <div class="button"><a class="btn btn-info" href="#">Empezar</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
