<section class="Inicio" id="Inicio">
  <div class="containers">
      <div class="box box1">
          <h2>Tipo de Practica</h2>
          <p>Seleciona un tipo de practica para que puedas practicas con etc etc.....</p>
      </div>
      <div class="box box2">
          <img src="../../../assets/img/logoerror.png" style="height: auto ; width: 200px;">

      </div>
      <div class="box box3">
          <div id="preguntas-con-circulo">
              <div class="circulo"></div>
              <p>100 Preguntas</p>
          </div>
          <div id="preguntas-con-circulo">
              <div class="circulo"></div>
              <p>50 Preguntas</p>
          </div>
          <div id="preguntas-con-circulo">
              <div class="circulo"></div>
              <p>por tema</p>
          </div>
          <div id="preguntas-con-circulo">
              <div class="circulo"></div>
              <p>erradas</p>
          </div>
          <div id="preguntas-con-circulo">
              <div class="circulo"></div>
              <p>erradas por tema</p>
          </div>
          <div id="preguntas-con-circulo">
              <div class="circulo"></div>
              <p>Personalizado</p>
          </div>
      </div>
      <div class="box box4">
          <div class="rectangle">
          <div class="angle"></div>
              <button class="button">Generar Practica</button>
          <div class="icon">
              <span class="letter">X</span>
          </div>
      </div>
      </div>
  </div>
</section>