<div class="inicio">
    <div class="container">
        <div class="d-flex ">
            <div>
                <h1 class="pb-3">¡Bienvenido a Asciende Guardia! </h1>
                <p class="pt-2 pb-3">Encuentra aquí recursos de estudio especializados para prepararte eficazmente y
                    alcanzar tus metas profesionales.</p>
            </div>

            <div>
                <img src="../../../assets/img/logoerror.png  " alt="" height="auto" width="150px">
            </div>
        </div>
        <div>
            <button class="btn" (click)="redirectToPractica()">
                Comenzar
            </button>
        </div>
    </div>
</div>