<div class="practica">
    <div class="titulo-box text-center mb-14 pb-5">
        <h1>Resumen <span class="">General</span></h1>
    </div>

    <section class="container pb-5 ">
        <div class="row justify-content-center ">
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="border border-gray-300 py-5 px-5 text-center">
                    <h3>0</h3>
                    <div class="mt-4 bg-secondary" style="height: 0.5rem; width: 8rem;"></div>
                    <h4 class="text-gray-700 text-uppercase mt-2">Puntaje General</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="border border-gray-300 py-5 px-5 text-center">
                    <h3>0</h3>
                    <div class="mt-4 bg-secondary" style="height: 0.5rem; width: 8rem;"></div>
                    <h4 class="text-gray-700 text-uppercase mt-2">Puntaje General</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="border border-gray-300 py-5 px-5 text-center">
                    <h3>0</h3>
                    <div class="mt-4 bg-secondary" style="height: 0.5rem; width: 8rem;"></div>
                    <h4 class="text-gray-700 text-uppercase mt-2">Puntaje General</h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="border border-gray-300 py-5 px-5 text-center">
                    <h3>0</h3>
                    <div class="mt-4 bg-secondary" style="height: 0.5rem; width: 8rem;"></div>
                    <h4 class="text-gray-700 text-uppercase mt-2">Puntaje General</h4>
                </div>
            </div>
        </div>
    </section>
    <div class="temas-disponibles">
        <div class="container d-flex flex-column align-item-center justify-content-center">
            <div class="pb-5 ">
                <h1 class="text-center">Temas Disponibles</h1>
            </div>
            <div>
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    @for (slide of slides; track slide) {
                    <div ngxSlickItem class="slide">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ slide.tema }}</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    }
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</div>
<button (click)="alertas()">
    hola
</button>
