 .practica {
  padding-top: 100px;
  font-family: "Poppins", sans-serif;
}

.practica .titulo-box h1{
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #084762, #1292c9); /* Cambiar #ff0000 y #0000ff por los colores deseados */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.temas-disponibles{
  background-color: rgb(211, 240, 255);
  padding-top: 30px;
}

.temas-disponibles .text-center {
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #084762, #1292c9); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.carousel {
  padding: 50px;
}

.carousel .slide {
  padding-left: 10px;
  padding-right: 10px;
}