@if(this.examen){
<div class="practica">
    <div class="titulo-box text-center mb-14 pb-5">
        <h1>Resumen <span class="">General</span></h1>
    </div>

    <section class="info container pb-5 ">
        <div class="row justify-content-center ">
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="border rounded-top py-4 px-3 text-center">
                    <h4>0</h4>
                    <hr>
                    <h6>Simulacros Realizados</h6>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="border rounded-top py-4 px-3 text-center">
                    <h4>0</h4>
                    <hr>
                    <h6>Mejor puntaje</h6>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="border rounded-top border-gray py-4 px-3 text-center">
                    <h4>0</h4>
                    <hr>
                    <h6>Respuestas Equivocadas</h6>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="border rounded-top border-gray py-4 px-3 text-center">
                    <h4>0</h4>
                    <hr>
                    <h6>Respuestas Buenas</h6>
                </div>
            </div>
        </div>
    </section>
    <div class="temas-disponibles">
        <div class="container d-flex flex-column align-item-center justify-content-center">
            <div>
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    @for (slide of slides; track slide) {
                    <div ngxSlickItem class="slide">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ slide.tema }}</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the card's content.</p>
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Comenzar </button>

                            </div>
                        </div>
                    </div>
                    }
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</div>

<div class="container ">
    <!-- Modal -->
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content " style=" padding: 5px ">
                <div class="row gx-3" style="height: 250px;">
                    <div class="box box1 col-6 d-flex flex-column align-items-center justify-content-center">
                        <button class="d-flex flex-column align-items-center justify-content-center" (click)="ComenzarExamen() " data-bs-dismiss="modal"><img src="../../../assets/modalidades/reloj.png" alt="">Contra Reloj</button></div>
                    <div class="box box1 col-6 d-flex flex-column align-items-center justify-content-center">
                        <button>modalidad 2</button></div>
                    <div class="box box1 col-6 d-flex flex-column align-items-center justify-content-center">
                        <button>modalidad 3</button></div>
                    <div class="box box1 col-6 d-flex flex-column align-items-center justify-content-center">
                        <button>modalidad 4</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
}@else{
<app-examen></app-examen>
}