.logo {
  align-items: center;
  display: flex;
}

.logo .navbar-brand {
  font-size: 20px;
  align-items: center;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  
}


.offcanvas-title {
  text-shadow: -3px 2px 13px rgba(255, 255, 255, 0.5);
}

.navbar-nav {
  align-items: center;
}

.navbar-nav li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s;
}

.navbar-nav li a:hover {
  color: #15b3f1;
}

.navbar-nav li a.active {
  color: #50c1d3;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dropdown-menu.text-small {
  animation: fadeIn 0.5s;
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgb(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }



  .navbar-nav {
    align-items: start;

  }

  .navbar-nav li{
    border-left: 3px solid #216587;
    
    padding-left: 10px;
  }

  .navbar-nav li a {
    text-decoration: none;
    font-size: 20px;
    
  }
  

  .navbar-nav li a.active {
    color: #216587;
    text-shadow: -3px 2px 3px rgba(255, 255, 255, 0.5);
    
  }



}