.logo{
  align-items: center;
  display: flex;
}
.logo .navbar-brand{
  font-size: 20px;
  align-items: center;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.navbar-nav {
  align-items: center;
}
.navbar-nav li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s;
}

.navbar-nav li a:hover{
  color: #0981b2;
}

.navbar-nav li a.active {
  color: #365563;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.dropdown-menu.text-small {
  animation: fadeIn 0.5s;
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgb(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }

  .offcanvas-body {
    align-items: flex-start;
}

  .dropdown-menu {
    left: 0;
    top: auto;
    bottom: 100%;
  }
  
  
  
}