<div id="examenGeneral" class=" container-fluid ">
    @if (!privacyPolicy) {
    <div class=" border-top border-bottom border-primary">
        <p class="text-end m-2">
            Usuario {{userName}} id {{userId}}
        </p>
    </div>
    <div class="container">
        <p class="pt-5"><strong>Estimados(a) Usuarios(a):</strong></p>
        <P>Usted se encuentra en el Módulo de Examen Virtual del Sistema de Evaluación del Conocimiento Policial
            (versión Buhooleans). Este es una réplica del examen de (SIECOPOL), el cual ha sido desarrollado con la
            finalidad de generar un único examen para cada postulante a partir del Banco de Preguntas válidas
            seleccionadas para el presente proceso de evaluación, considerando su grado y especialidad.
        </P>
        <p><strong>Instrucciones</strong></p>
        <ul>
            <li>Para ver la pregunta debe seleccionarla haciendo click en el número del tablero ubicado a la izquierda
                de la pantalla. </li>
            <li>Conteste la pregunta haciendo click en la letra o el texto de la alternativa que considere correcta.
            </li>
            <li>Puede regresar a una pregunta ya contestada cambiar la alternativa seleccionada o borrar la respuesta
                para ser contestada posteriormente. </li>
            <li>Si deseas puede finalizar el examen antes de cumplirse el tiempo de duración establecido</li>
        </ul>
        <p><strong>Nota</strong></p>
        <p>Este simulacro, meticulosamente diseñado por Buhooleans Innovations, se asemeja lo más posible a un examen
            real. Nuestro objetivo
            es prepararte adecuadamente y garantizar tu ascenso.
        </p>
        <div class="d-flex justify-content-center align-items-center mt-5" >
            <button (click)="mostrarExamen()" class="boton-examen" >Generar Examen Virtual</button>
        </div>
    </div>
    }@else {
    <div class="row mr-2 ml-4">
        <div class="col-12 border-top border-bottom border-primary">
            <p class="text-end m-2">
                Usuario {{userName}} id {{userId}}
            </p>
        </div>
        <div class="col-3 p-0">
            <div translate="no" class="row m-2 border boxIndex ">
                @for (questionNumber of questionNumbers; track $index) {
                <div class="col-3 d-flex">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios{{$index}}"
                        value="{{$index}}" [checked]="$index === selectedQuestionIndex "
                        (click)="selectQuestion($index)">
                    <label class="form-check-label preguntaIndex" [ngClass]="{'answered': selectedAnswers[$index]} "
                        for="exampleRadios{{$index}}"> {{questionNumber}} </label>
                </div>
                }
            </div>
        </div>
        <div class="col-9 p-0 ">
            <div class="row m-2 ">

                <div class="col-12 d-flex justify-content-between align-item-center border-bottom border-primary ">
                    <p class="m-0"><span>{{ displayTime$ | async }} </span>tema numero:
                        {{questions[selectedQuestionIndex]?.tema_id}}</p>
                    <button class="mb-2" data-bs-toggle="modal" data-bs-target="#Modal-Finalizar">Finalizar examen</button>
                </div>

                <div class="col-12  border-bottom border-primary ">
                    <h6 class="mt-2 mb-2">{{questions[selectedQuestionIndex]?.pregunta_enunciado}} El Id de la pregnta:
                        {{questions[selectedQuestionIndex]?.pregunta_id}} el tema :
                        {{questions[selectedQuestionIndex]?.tema_id}}</h6>
                </div>

                <div class="col-12  border-bottom border-primary ">

                    <div class="d-flex flex-column">
                        <div>
                            <input class="form-check-input" type="radio" name="exampleRadios{{selectedQuestionIndex}}"
                                 value="option1"
                                [(ngModel)]="selectedAnswers[selectedQuestionIndex]"
                                (change)="selectQuestion(selectedQuestionIndex)">
                            <label class="form-check-label" for="exampleRadios1"> A: 
                                {{questions[selectedQuestionIndex]?.respuesta_texto1}} </label>
                        </div>
                        <div>
                            <input class="form-check-input" type="radio" name="exampleRadios{{selectedQuestionIndex}}"
                                 value="option2"
                                [(ngModel)]="selectedAnswers[selectedQuestionIndex]"
                                (change)="selectQuestion(selectedQuestionIndex)"> 
                            <label class="form-check-label" for="exampleRadios2"> B:
                                {{questions[selectedQuestionIndex]?.respuesta_texto2}} </label>
                        </div>
                        <div>
                            <input class="form-check-input" type="radio" name="exampleRadios{{selectedQuestionIndex}}"
                                 value="option3"
                                [(ngModel)]="selectedAnswers[selectedQuestionIndex]"
                                (change)="selectQuestion(selectedQuestionIndex)">
                            <label class="form-check-label" for="exampleRadios3"> C:
                                {{questions[selectedQuestionIndex]?.respuesta_texto3}} </label>
                        </div>
                        <div>
                            <input class="form-check-input" type="radio" name="exampleRadios{{selectedQuestionIndex}}"
                                 value="option4"
                                [(ngModel)]="selectedAnswers[selectedQuestionIndex]"
                                (change)="selectQuestion(selectedQuestionIndex)">
                            <label class="form-check-label" for="exampleRadios4"> D:
                                {{questions[selectedQuestionIndex]?.respuesta_texto4}} </label>
                        </div>
                        <div class="d-flex justify-content-between mb-1">
                            <button (click)="deleteResponse()">Borrar respuestas</button>
                            <button>Ver instrucciones</button>
                        </div>

                    </div>
                </div>
                <p class="mt-2">PREGUNTAS CONTESTADAS: {{ preguntasContestadas }}, PREGUNTAS SIN CONTESTAR: {{
                    preguntasSinContestar }}</p>

                <div class="respuestas d-flex">
                    @for (respuesta of selectedResponses; track $index) {
                    <span>{{respuesta}}</span>
                    }
                </div>

            </div>
        </div>
    </div>


    <!-- modal -->

    <div class="modal fade" id="Modal-Finalizar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" >
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 mr-2" id="exampleModalLabel">¿Deseas finalizar el examen?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- <div class="modal-body">
                    ...
                </div> -->
                <div class="modal-footer d-flex ">
                    <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="finalizarExamen()"  class="btn btn-primary" data-bs-dismiss="modal" >Enviar Examen</button>
                </div>
            </div>
        </div>
    </div>

    }

</div>